/* Seção de Planos */
.plans-section {
    padding: 50px 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.plans-section h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #fffbfb;
    text-shadow: 2px 2px 4px rgba(23, 1, 168, 0.6);
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: stretch;
}

.plan-card {
    background: rgba(0, 21, 153, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(235, 228, 228, 0.3);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plan-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(249, 249, 249);
}

.plan-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #cd0000;
}

.plan-card h3 {
    margin: 15px 0;
    font-size: 1.8em;
    color: #ece1e1;
}

.plan-card .price {
    font-size: 1.5em;
    color: #f8efef;
    margin: 10px 0;
}

.plan-card p {
    color: #f4f2f2;
    margin-bottom: 20px;
}

.plan-card .subscribe-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fbfbfb;
    background-color: #a12727;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
}

.plan-card .subscribe-button:hover {
    background-color: #ffffff;
    transform: scale(1.1);
}

.plan-card .subscribe-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, left 0.3s ease;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.plan-card .subscribe-button:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

.plan-card .subscribe-button span {
    position: relative;
    z-index: 1;
}